<!DOCTYPE html>
<html lang="en">
<head>
  <title> RappiEdu </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style type="text/css">


  .col-md-2 .fab{
    font-size: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 10px;

  }

  .fas:hover,.fab:hover{
    color: #E5E7E9;

  }

  @media(max-width: 992px){
    .col-md-2 .fab{
      font-size: 18px;
      padding-right: 0;
    }
  }

  .blanco {
    color: whitesmoke;
  }

  .color {
    background:#2C5AA2 !important;
  }


</style>
<body>
<header class="color">
  <div class="container " id="top">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
        <h5 class="blanco"> <b> <u> SERVICIOS </u> </b> </h5>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 text-left">
        <ul class=" list-group list-group-horizontal">
            <li><a class="blanco" href="http://localhost:4200/RappiEDU/Profesor"> CANCELAR </a></li>
          </ul>
      </div>
    </div>
  </div>
</header>

<div class="card border-dark mb-3">
    <div class="card-body text-dark">
        <h5 class="card-title">Crear Nuevo Servicio</h5>
    </div>
    <form (ngSubmit) = "save()" #clienteForm = "ngForm">
        <div class="form-group">
            <label for="nomServicio">Nombre</label>
            <input type="text" class="form-control" id="nomServicio" [(ngModel)]="servicio.nomServicio" name="nomServicio" required #nomServicio="ngModel">

            <div class="alert alert-danger"
            *ngIf="nomServicio.invalid && (nomServicio.dirty || nomServicio.touched)">
            <div *ngIf="nomServicio.errors.required">
                  Nombre de servicio es requerido.
            </div>
          </div>

        </div>
        <div class="form-group">
            <label for="descripcionServicio">Descripción</label>
            <input type="text" class="form-control" id="descripcionServicio" [(ngModel)]="servicio.descripcionServicio" name="descripcionServicio" required #descripcionServicio="ngModel">
        
            <div class="alert alert-danger"
            *ngIf="descripcionServicio.invalid && (descripcionServicio.dirty || descripcionServicio.touched)">
            <div *ngIf="descripcionServicio.errors.required">
                  Descripción es requerida.
            </div>
          </div>

        </div>  
        <div class="form-group">
            <label for="costoServicio">Costo</label>
            <input type="text" class="form-control" id="costoServicio" [(ngModel)]="servicio.costoServicio" name="costoServicio" required #costoServicio="ngModel">
        
            <div class="alert alert-danger"
            *ngIf="costoServicio.invalid && (costoServicio.dirty || costoServicio.touched)">
            <div *ngIf="costoServicio.errors.required">
                  Costo de servicio es requerido.
            </div>
          </div>
        
        </div>  
        <div class="form-group">
            <label for="dia">Día</label>
            <input type="text" class="form-control" id="dia" [(ngModel)]="servicio.dia" name="dia" required #dia="ngModel">

            <div class="alert alert-danger"
            *ngIf="dia.invalid && (dia.dirty || dia.touched)">
            <div *ngIf="dia.errors.required">
                  Día de servicio es requerido.
            </div>
          </div>

        </div>  
        <div class="form-group">
            <label for="hora">Hora</label>
            <input type="text" class="form-control" id="hora" [(ngModel)]="servicio.hora" name="hora" required #hora="ngModel">

            <div class="alert alert-danger"
            *ngIf="hora.invalid && (hora.dirty || hora.touched)">
            <div *ngIf="hora.errors.required">
                  Hora de servicio es requerido.
            </div>
          </div>

        </div>  
        <div class="form-group">
            <label for="profesor">Profesor</label>
            <select [compareWith]="compararTipoP" type="text" class="form-control" id="profesor"
              [(ngModel)]="servicio.profesor" name="profesor" required #profesor="ngModel">
              <option [ngValue]="undefined">
                    --- Seleccione Profesor ----
              </option>
              <option *ngFor="let profesor of profesores" [ngValue]="profesor">
                    {{profesor.nomProfesor}}
              </option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled] = "!clienteForm.form.valid" >Registrar</button>
        </div>
    </form>
</div>

</body>
</html>
