<p></p>
<div class="card border-dark mb-3">
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="nomProfesor">Nombre</label>
            <input type="text" class="form-control" id="nomProfesor" [(ngModel)]="profesor.nomProfesor" name="nomProfesor">
        </div>
        <div class="form-group">
            <label for="apellidoProfesor">Apellido</label>
            <input type="text" class="form-control" id="apellidoProfesor" [(ngModel)]="profesor.apellidoProfesor" name="descripcionEspecialidad">
        </div>  
        <div class="form-group">
            <label for="dniProfesor">DNI</label>
            <input type="text" class="form-control" id="dniProfesor" [(ngModel)]="profesor.dniProfesor" name="dniProfesor">
        </div>  
        <div class="form-group">
            <label for="pagoMes">Debe este Mes</label>
            <input type="text" class="form-control" id="pagoMes" [(ngModel)]="profesor.pagoMes" name="pagoMes">
        </div>  
        <div class="form-group">
            <label for="claveProfesor">Contraseña</label>
            <input type="text" class="form-control" id="claveProfesor" [(ngModel)]="profesor.claveProfesor" name="claveProfesor">
        </div>  
        <div class="form-group">
            <label for="celularProfesor">Nro. Celular</label>
            <input type="text" class="form-control" id="celularProfesor" [(ngModel)]="profesor.celularProfesor" name="celularProfesor">
        </div>  
    
        <div class="form-group">
            <label for="especialidad">Especialidad</label>
            <select [compareWith]="compararTipo" type="text" class="form-control" id="especialidad"
              [(ngModel)]="profesor.especialidad" name="especialidad">
              <option [ngValue]="undefined">
                    --- Seleccione Tipo ----
              </option>
              <option *ngFor="let especialidad of especialidades" [ngValue]="especialidad">
                    {{especialidad.nomEspecialidad}}
              </option>
            </select>
        </div>
        <div class="form-group">
            <label for="generoProfesor">Género</label>
            <input type="text" class="form-control" id="generoProfesor" [(ngModel)]="profesor.generoProfesor" name="generoProfesor">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>
    </form>

</div>