<p></p>
<div class="card border-dark mb-3">
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="nomProfesor">Nombre</label>
            <input type="text" class="form-control" id="nomProfesor" [(ngModel)]="profesor.nomProfesor" name="nomProfesor">
        </div>
    </form>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="apellidoProfesor">Descripcion</label>
            <input type="text" class="form-control" id="apellidoProfesor" [(ngModel)]="profesor.apellidoProfesor" name="descripcionEspecialidad">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>
    </form>
</div>