
<h1>BIENVENIDO A ANGULAR...</h1>
<h2>{{title}}</h2>
<nav>
    <a routerLink = "esp-list" class="btn btn-primary active">Lista de Especialidades</a>
    <a routerLink = "esp-new" class="btn btn-primary active">Nueva Especialidad</a>
    <a routerLink = "prof-list" class="btn btn-primary active">Lista de Profesores</a>
    <a routerLink = "prof-new" class="btn btn-primary active">Nuevo Profesor</a>
    <a routerLink = "estu-list" class="btn btn-primary active">Lista de Estudiante</a>
    <a routerLink = "estu-new" class="btn btn-primary active">Nuevo Estudiante</a>
</nav>
<router-outlet></router-outlet>